<div class="form-content">
	<div class="name">
		<p><label for="name">Name</label></p>

		<input type="text" name="name" id="name" value="{{name}}" required />
	</div>
	<div class="description">
		<p><label for="description">Description</label></p>

		<textarea name="description" id="description" value="{{description}}" required></textarea>
	</div>
<div class="form-actions">
	<button type="submit" class="save button">Save</button>
	<a href="/projects/" class="cancel">Cancel</a>
</div>
</div>