<form class="project-form" method="POST">
<div>
	<div class="name">
		<p><label for="taskname">Task Name</label></p>
		<input type="text" name="taskname" id="taskname" required />
	</div>
	<div class="description">
		<p><label for="taskdescription">Task Description</label></p>
		<textarea name="taskdescription" id="taskdescription" required></textarea>
	</div>
	<div class="user">
		<label for="user"><p>User</p>
		 <select name="user" id="user" placeholder="user" required>
        <option></option>
        {{#each users}}
		<option>{{username}}</option>
		{{/each}}
		</label>
		</select>
	</div>
</div>
<div class="form-actions">
	<input type="submit" class="save button" value="Save">
	<button type="cancel" class="cancel">Cancel</button>
</div>
</form>