<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ripe App</title>
	<link rel="stylesheet" href="/sylesheets/style.css">
</head>
<body>
	<div class="container">
		{{{body}}}
	</div>
</body>
</html>