<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ripe App</title>
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
	<div class="container">
		{{{body}}}
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src='/javascripts/script.js'></script>
</body>
</html>