<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ripe App</title>
	<link rel="stylesheet" href="/stylesheets/reset.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
<div class="container">

	<!-- Navigation -->
<nav id="slide-menu">
	<ul>
		<a href="/"><li class="timeline">Home</li></a>
		<a href="/projects"><li class="events">Projects</li></a>
		<a href="/users/{{user._id}}"><li class="calendar">My Tasks</li></a>
		<a href="/users/{{user._id}}"><li class="sep settings">Settings</li></a>
		<a href="/logout"><li class="logout">Logout</li></a>
	</ul>
</nav>
<!-- Content panel -->
<div id="content">
	<div class="menu-trigger">
		<img src="/images/menu.svg" alt="">
	</div>
	    
	  
	
	
		<div class="hero">
			<div class="content-contain">
				<h1>{{title}}</h1>
			</div>
		</div>
		<div class="content-contain">
			{{{body}}}
		</div>

	</div>
</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/javascripts/jquery.editinplace.js"></script>
	<script src='/javascripts/script.js'></script>
</body>
</html>
