//**************************************************
// GLOBALS
//**************************************************

body {
  	min-height: 1000px;
  	margin: 0;
  	background: #444544;
  	color: #353d46;
  	font-family: 'Open Sans', sans-serif;

  	a {
  		text-decoration: none;
  	}
}

.hero--content-contain {
	position: relative;
	max-width: 960px;
	margin: auto;
	padding: 60px 0;
	text-align: center;
	top: 30px;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	font-family: inherit;
	
	h1 {
		font-size: 30px;
		margin-bottom: 15px;						
	}
}

.container {
  // display: flex;
    overflow: hidden;

	.hero {
		position: relative;
		width: 100%;
		height: 300px;
		background-color: #444544;
		
	}

	#columns {
		display: flex;
		column-width: 320px;
		column-gap: 15px;
	  	width: 90%;
		max-width: 1100px;
		margin: 50px auto;
	}
}

//**************************************************
// DASHBOARD
//**************************************************

.dashboard {
	figure {
		width: 275px;
		background: #fefefe;
		border: 2px solid #fcfcfc;
		box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
		margin: 0 2px 15px;
		padding: 15px;
		padding-bottom: 10px;
		transition: opacity .4s ease-in-out;
		display: inline-block;
		overflow: hidden;

		h2 {
			font-size: 22px;
			padding: 8px 0;
			text-decoration: none;
			color: #444544;
		}

		.svg-icon {
			margin: 20px 0;
		}
	}
}


//**************************************************
// PROJECTS
//**************************************************

	.projects {
		text-align: left;
		margin-top: 100px;
		position: relative;

		figure {
			position: relative;
			width: 275px;
			background: #fefefe;
			border: 2px solid #fcfcfc;
			box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
			margin: 0 2px 15px;
			padding: 15px;
			padding-bottom: 10px;
			transition: opacity .4s ease-in-out;
			display: inline-block;
			overflow: hidden;
			min-height: 200px;
			// column-break-inside: avoid;
		}

		.name {
			font-size: 22px;
			padding: 10px 0;
			width: 80%;
		}

		.description {
			font-size: 13px;
		}

		.form-actions {
			padding: 15px 0;
		}

		.task-container {
			padding: 20px 0;
		
		}

		.tasks-heading {
			padding-bottom: 10px;
		}

		.edit {
			text-decoration: none;
			position: absolute;
			bottom: 15px;
			color: inherit;
		}

		.new-circle {
			  position: absolute;
			  top: -67px;
			  height: 40px;
			  width: 40px;
			  border-radius: 20px;
			  background-color: #2b6481;
			  right: -90px;


			p {
				text-decoration: none;
				position: relative;
				top: 8px;
				left: 13px;
				font-size: 25px;
				color: #fff;
			}
		}

	}

			.project-add, .delete, .project-task-delete {
				cursor: pointer;
			}

			.project-form {
				display: none;
				transition: 0.75s;
			}

			.show {
				display: block;
			}

//**************************************************
// EDIT PROJECTS
//**************************************************


// Single project view
.content-contain {
	top: -55px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
	max-width: 960px;
	margin: auto;
	font-size: 16px;
	text-align: center;
}

.individual-project {
	text-align: left;
	position: relative;
	// padding: 50px 0;

	figure {
		width: 900px;
		background: #fefefe;
		border: 2px solid #fcfcfc;
		box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
		margin: 0 2px 15px;
		padding: 15px;
		padding-bottom: 10px;
		transition: opacity .4s ease-in-out;
		display: inline-block;
		overflow: hidden;
		// column-break-inside: avoid;
	}

	.info {
		position: relative;
	}


	
	h1 {
		top: 60px;
		text-align: center;
	}


		.task {
			position: relative;

		}

		.project-taskname {
			font-size: 22px;
			padding: 10px 0;
			width: 80%;
			cursor: pointer;

			&:hover {
				background: #dddddd;
			}
		}

		.taskdescription {
			font-size: 13px;
			padding-bottom: 10px;
		}

		.form-actions {
			padding: 15px 0;
		}

		select {
			padding: 10px 0;
		}


		.controls {
			position: absolute;
			  right: 0;
			  top: 14px;

				.project-complete, .delete {
					display: inline;
				}
			}




	.checked {
		text-decoration: line-through;
	}

	.project-delete {
		position: absolute;
		right: 0;
		bottom: 0;
	}

}

	.project-form {

		p {
			margin-bottom: 10px;
		}

	.name {
		  padding: 20px 0 10px;
	}

	.description {
		padding: 10px 0 20px;

	}

	.form-actions {
		padding: 15px 0;
	}
}


// NEW 

.new {
	text-align: left;

	figure {
		width: 900px;
		background: #fefefe;
		border: 2px solid #fcfcfc;
		box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
		margin: 0 2px 15px;
		padding: 15px;
		padding-bottom: 10px;
		transition: opacity .4s ease-in-out;
		display: inline-block;
		overflow: hidden;
		// column-break-inside: avoid;
	}


	p {
		margin-bottom: 15px;
	}

	.name {
		
	}

	.description {
		padding: 10px 0 20px;

		textarea {

		}


	}


}

.editInPlace-active {
	input {
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		width: inherit;
		padding: 0;
		margin: 0px;
		background-color: inherit;
		font-weight: normal;
		border: 0;
		border-style:solid;
		margin: 0;
		outline: 0;
		vertical-align: middle;
		
		&:focus, &:active {
			border: 0;
			border-style: none;
			outline: 0;
			


		}
	}
}



//**************************************************
// MY TASKS
//**************************************************

.no-tasks-warn {
	padding-bottom: 20px;
}

.individual-tasks {

	.task {
		position: relative;
	}

	.taskname {
		height: 25px;
		line-height: 25px;
		font-size: 22px;
		padding: 10px 0;
		width: 80%;
		cursor: pointer;

		&:hover {
		background: #dddddd;
		}
	}

	.task-description {
		font-size: 13px;
		padding-bottom: 10px;
	}

	.form-actions {
		padding: 15px 0;
	}
	.controls {
		position: absolute;
		  right: 0;
		  top: 14px;

		.complete, .delete {
			display: inline;
		}
	}
}

//**************************************************
// FORMS
//**************************************************


//**************************************************
// MENU
//**************************************************
nav#slide-menu {
	position: fixed;
	top: 0;
	left: -100px;
	bottom: 0;
	display: block;
	float: left;
	width: 100%;
	max-width: 284px;
	height: 100%;

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;

	> ul {
		display: block;
		margin: 40px;
		padding: 0;
		list-style: none;
		opacity: 0.5;
		line-height: 40px;

		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		transition: all 300ms;

		li {
			color: #dfe5eb;
			font-weight: 300;
			padding: 6px 0;
			cursor: pointer;

			&:hover { 
			color: #2b6481; 
		}
		}

		li:before {
			font-family: "ico";
			font-style: normal;
			font-weight: normal;
			speak: none;
			display: inline-block;
			text-decoration: inherit;
			width: 1em;
			color: #2b6481;
			margin-right: 12px;
			text-align: center;
			font-variant: normal;
			font-size: 0.75em;
			text-transform: none;
			line-height: 1em;
		}

		li.sep { 
			margin-top: 7px; 
			padding-top: 14px; 
			border-top: 1px solid #2b6481; 
		}

		li.menu-home:before { content: '\e805'; }
		li.menu-projects:before { content: '\e802'; }
		li.menu-tasks:before { content: '\e800'; }
		li.menu-settings:before { content: '\e803'; }
		li.menu-logout:before { content: '\e804'; }
	}
}

body.menu-active nav#slide-menu { left: 0px; }
body.menu-active nav#slide-menu ul { left: 0px; opacity: 1; }

/*
  Content
*/

div#content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background: #fcfeff;
	border-radius: 0;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-moz-box-shadow: -3px 0 6px darken(#444544, 5%);
	-webkit-box-shadow: -3px 0 6px darken(#444544, 5%);
	box-shadow: -3px 0 6px darken(#444544, 5%);

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;

	div.menu-trigger {
		position: fixed;
		top: 10px;
		left: 10px;
		z-index:2;
		cursor: pointer; 

		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		transition: all 300ms;

	}
}

body.menu-active div#content { left: 284px; }
body.menu-active div#content .menu-trigger { left: 294px; }




