<div class="dashboard">
	<figure>
		<h2><a href="/projects/">Projects</a></h2>
	</figure>
		
	<figure>
		<h2><a href="/users/{{user._id}}">My Tasks</a></h2>
	</figure>
	
	<figure>
		<!-- {{#if user}} -->
 		<h2><a href="/users/{{user._id}}">Settings</a>
 		</h2>
 		<!-- {{/if}} -->
	</figure>
</div>