<div class="content">
	<div class="individual-tasks">
		<figure>
		   <div class="info">
			   <!-- 	<p class="description">{{project.description}}</p> -->
		       {{#each tasks}}
		       <p class="taskname">{{taskname}}</p>
		       {{/each}}
		    </div>
			<a href="#">save</a>
		</figure>
	</div>
</div>