<div class="content">
    <div class="individual-project">
    <figure>
      <div class="info">
    <p>Login to Ripe App</p>
    <br/>
    <form role='form' action="/login" method="post" style='max-width: 300px;'>
      <div class="form-group">
          <input type='text' name="username" placeholder='Enter Username'>
      </div>
      <div class="form-group">
          <input type='password' name="password" placeholder='Password'>
      </div>
      <button type="submit">Submit</button>
      <a href='/'><button type="button">Cancel</button></a>
      <br/>
      <br/>
      <a href="/register">Register</a>
      </figure>
    </div>
    </div>
