<div class="content">
	<div class="projects">
	{{#each projects}}
		<figure>
		   <div class="info">
		       <header class="name">{{name}}</header>
		       <p class="description">{{description}}</p>
		       <div class="task-container">
		       	<p class="tasks-heading">Tasks:</p>
		       {{#each tasks}}
		       <p class="tasks">{{id}}</p>
		       {{/each}}
		       </div>
		    </div>
			<a class="edit" href="/projects/{{id}}">edit</a>
		</figure>
	{{/each}}
	   <a href="/projects/new/" class="new-circle">
	       <p>+</p>
	   </a>
	</div>
</div>


