<div class="content">
	<div class="projects">
	{{#each projects}}
		<figure>
		   <div class="info">
		       <header class="name">{{name}}</header>
		       <p class="description">{{description}}</p>
		       {{#each tasks}}
		       <p class="tasks">{{taskname}}</p>
		       {{/each}}
		    </div>
			<a href="/projects/{{id}}">edit</a>
		</figure>
	{{/each}}
		<figure>
		   <div class="info">
		       <a href="/projects/new/">+</a>
		   </div>
		</figure>
	</div>
</div>


