<div class="content">
    <div class="individual-project">
    <figure>
    <form role='form' action="/register" method="post" style='max-width: 300px;'>
      <div class="form-group">
          <input type='text' name="username" placeholder='Enter Username'>
      </div>
      <div class="form-group">
          <input type='password' name="password" placeholder='Password'>
      </div>
      <button type="submit">Submit</button>
      <a href='/'><button type="button">Cancel</button></a>
      <br/>
      <br/>
      <p>All ready got a login?</p> 
      <a href="/login">Login now</a>
    </figure>
    </div>
  </div>
