<div class="content">
	<div class="individual-project">
		<figure>
		   <div class="info">
		       <div class="user">
		       <!-- <p class="username" data-id="{{_id}}">{{user.username}}</p> -->
		       <p>We're still building out this section, check back soon for cool features like gmail integration</p>
		       <br/>
		       <br/>
		       <br/>
		       <br/>
		   		</div>
		    </div>
		</figure>
	</div>
</div>