<div class="content">
	<div class="individual-project">
		<figure>
		   <div class="info">
		       <div class="setting-warning">
		       <p>We're still building out this section, check back soon for cool features like gmail integration</p>
		       <br/>
		       <br/>
		       <br/>
		       <br/>
		   		</div>
		    </div>
		</figure>
	</div>
</div>