body {
  min-height: 1000px;
  margin: 0;
  background: #444544;
  color: #353d46;
  font-family: 'Open Sans', sans-serif; }
  body a {
    text-decoration: none; }

.container {
  overflow: hidden; }
  .container .hero {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #444544; }
    .container .hero .hero--content-contain {
      position: relative;
      max-width: 960px;
      margin: auto;
      padding: 60px 0;
      text-align: center;
      top: 30px;
      color: #FFF;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 300;
      font-family: inherit; }
      .container .hero .hero--content-contain h1 {
        font-size: 30px;
        margin-bottom: 15px; }

nav#slide-menu {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  transition: all 300ms; }
  nav#slide-menu ul {
    display: block;
    margin: 40px;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    line-height: 40px;
    transition: all 300ms; }
    nav#slide-menu ul li {
      color: #dfe5eb;
      font-weight: 300;
      padding: 6px 0;
      cursor: pointer; }
      nav#slide-menu ul li:hover {
        color: #2b6481; }
    nav#slide-menu ul li:before {
      font-family: "ico";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      color: #2b6481;
      margin-right: 12px;
      text-align: center;
      font-variant: normal;
      font-size: 0.75em;
      text-transform: none;
      line-height: 1em; }
    nav#slide-menu ul li.sep {
      margin-top: 7px;
      padding-top: 14px;
      border-top: 1px solid #2b6481; }
    nav#slide-menu ul li.menu-home:before {
      content: '\e805'; }
    nav#slide-menu ul li.menu-projects:before {
      content: '\e802'; }
    nav#slide-menu ul li.menu-tasks:before {
      content: '\e800'; }
    nav#slide-menu ul li.menu-settings:before {
      content: '\e803'; }
    nav#slide-menu ul li.menu-logout:before {
      content: '\e804'; }

body.menu-active nav#slide-menu {
  left: 0px; }

body.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1; }

div#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: #fcfeff;
  border-radius: 0;
  box-sizing: border-box;
  box-shadow: -3px 0 6px #373837;
  transition: all 300ms; }
  div#content div.menu-trigger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms; }

body.menu-active div#content {
  left: 284px; }

body.menu-active div#content .menu-trigger {
  left: 294px; }

.admin-form {
  text-align: center;
  background: #fff;
  width: 400px;
  margin: auto;
  margin-top: -60px;
  padding: 50px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); }
  .admin-form .heading {
    font-size: 22px; }
  .admin-form .validation {
    padding: 15px 0 0;
    color: #cd2b2b;
    font-size: 14px; }
  .admin-form input, .admin-form button {
    width: 250px;
    margin: 10px 10px 0 0;
    padding: 10px 5px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    background: #d3d3d3;
    font-family: 'Open Sans', sans-serif;
    color: #444544;
    outline: none; }
  .admin-form button {
    width: 265px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    background: #2B812F;
    transition: .5s; }
    .admin-form button:hover, .admin-form button:focus {
      background: #319436;
      cursor: pointer; }
  .admin-form a {
    text-decoration: none;
    color: #9D9D9D;
    font-size: 14px; }

.dashboard figure {
  width: 275px;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px; }
  .dashboard figure h2 {
    font-size: 22px;
    padding: 8px 0;
    text-decoration: none;
    color: #444544; }
  .dashboard figure .svg-icon {
    margin: 20px 0; }

.editInPlace-active {
  position: relative; }
  .editInPlace-active input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: inherit;
    padding: 0;
    background-color: inherit;
    font-weight: normal;
    border: 0;
    border-style: solid;
    margin: 0;
    outline: 0;
    vertical-align: middle; }
    .editInPlace-active input:focus, .editInPlace-active input:active {
      border: 0;
      border-style: none;
      outline: 0; }
  .editInPlace-active form {
    position: relative;
    top: -13px;
    left: -5px; }

.projects {
  text-align: left;
  margin-top: 100px;
  position: relative; }
  .projects .info {
    padding-bottom: 20px; }
  .projects figure {
    position: relative;
    width: 275px;
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    overflow: hidden;
    min-height: 200px;
    border-radius: 5px; }
  .projects .name {
    font-size: 22px;
    padding: 10px 0;
    width: 80%; }
  .projects .description {
    font-size: 13px; }
  .projects .form-actions {
    padding: 15px 0; }
  .projects .task-container {
    padding: 20px 0;
    position: relative; }
    .projects .task-container .tasks {
      text-align: left;
      width: 200px;
      display: inline-block;
      word-wrap: break-word;
      padding-bottom: 5px;
      font-size: 13px; }
    .projects .task-container .user {
      text-align: right;
      display: inline-block;
      position: absolute;
      right: 0;
      font-size: 13px; }
  .projects .tasks-heading {
    padding-bottom: 10px; }
  .projects .edit {
    position: absolute;
    bottom: 15px;
    bottom: 0px;
    left: 9px; }
  .projects .new-circle {
    position: absolute;
    top: -67px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #2B812F;
    right: -90px;
    transition: .5s; }
    .projects .new-circle:before {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
    .projects .new-circle:hover, .projects .new-circle:focus {
      background: #319436; }
    .projects .new-circle p {
      text-decoration: none;
      position: relative;
      top: 8px;
      left: 13px;
      font-size: 25px;
      color: #fff; }

.project-add,
.delete,
.project-task-delete {
  cursor: pointer; }

.project-form {
  display: none;
  transition: 0.75s; }

.show {
  display: block; }

.content-contain {
  top: -55px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  max-width: 960px;
  margin: auto;
  font-size: 16px;
  text-align: center; }

.individual-project {
  text-align: left;
  position: relative; }
  .individual-project figure {
    position: relative;
    width: 900px;
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px; }
  .individual-project .info {
    position: relative;
    padding: 30px; }
  .individual-project h1 {
    top: 60px;
    text-align: center; }
  .individual-project .description {
    padding-bottom: 30px; }
  .individual-project h3 {
    font-size: 18px;
    padding-bottom: 10px; }
  .individual-project p {
    font-size: 13px; }
  .individual-project .task {
    position: relative;
    padding-top: 15px; }
  .individual-project .project-taskname {
    height: 16px;
    line-height: 16px;
    font-size: 16px;
    padding: 10px 0;
    width: 80%;
    cursor: pointer;
    transition: .3s;
    border-radius: 5px; }
    .individual-project .project-taskname:hover {
      background: #dddddd; }
  .individual-project .taskdescription {
    font-size: 13px;
    padding-bottom: 10px; }
  .individual-project .project-add {
    font-size: 25px;
    margin-top: 30px;
    color: #9D9D9D;
    transition: .5s; }
    .individual-project .project-add:hover, .individual-project .project-add:focus {
      color: #444544; }
  .individual-project .form-actions {
    padding: 15px 0; }
  .individual-project .dropdown {
    width: 182px;
    height: auto;
    background: url(../images/arrow.png) no-repeat right; }
    .individual-project .dropdown select {
      padding: 0px 10px;
      width: 191px;
      background: transparent;
      font-size: 14px;
      line-height: 1;
      border: 1px solid #ccc;
      border-radius: 5px;
      height: 34px;
      -webkit-appearance: none; }
      .individual-project .dropdown select:hover, .individual-project .dropdown select:focus, .individual-project .dropdown select:active {
        outline: none; }
  .individual-project .controls {
    position: absolute;
    right: 0;
    top: 23px; }
    .individual-project .controls .project-complete, .individual-project .controls .delete {
      display: inline;
      padding-right: 20px; }
  .individual-project .checked {
    text-decoration: line-through; }
  .individual-project .project-delete {
    position: absolute;
    right: 30px;
    bottom: 32px;
    font-size: 20px;
    color: #9D9D9D;
    transition: .5s; }
    .individual-project .project-delete:hover, .individual-project .project-delete:focus {
      color: #444544; }
  .individual-project .project-task-delete {
    position: relative;
    font-size: 20px;
    top: 2px;
    color: #9D9D9D;
    transition: .5s; }
    .individual-project .project-task-delete:hover, .individual-project .project-task-delete:focus {
      color: #444544; }
  .individual-project form {
    padding-top: 25px; }
  .individual-project input, .individual-project button, .individual-project textarea, .individual-project .cancel {
    width: 828px;
    padding: 10px 5px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #444544;
    outline: none; }
  .individual-project button {
    width: 90px;
    margin: 10px 10px 0 0;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    background: #2B812F;
    transition: .5s;
    padding: 7px; }
    .individual-project button:hover, .individual-project button:focus {
      background: #319436;
      cursor: pointer; }
  .individual-project .cancel {
    cursor: pointer;
    font-size: 14px;
    padding: 7px 21px; }

input#complete {
  height: 15px;
  width: 15px;
  cursor: pointer; }

.project-form p {
  margin-bottom: 10px; }
.project-form .name {
  padding: 20px 0 10px; }
.project-form .description {
  padding: 10px 0 20px; }
.project-form .form-actions {
  padding: 15px 0; }

.new {
  text-align: left; }
  .new figure {
    width: 900px;
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px; }
  .new .form-content {
    padding: 30px; }
  .new p {
    margin-bottom: 15px; }
  .new .description {
    padding: 10px 0 20px; }
  .new form {
    padding-top: 25px; }
  .new input, .new button, .new textarea, .new .cancel {
    width: 828px;
    padding: 10px 5px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #444544;
    outline: none; }
  .new button {
    width: 90px;
    margin: 10px 10px 0 0;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    background: #2B812F;
    transition: .5s;
    padding: 7px; }
    .new button:hover, .new button:focus {
      background: #319436;
      cursor: pointer; }
  .new .cancel {
    cursor: pointer;
    font-size: 14px;
    padding: 7px 21px; }

.no-tasks-warn {
  padding-bottom: 20px; }

.individual-tasks .task {
  position: relative; }
.individual-tasks .taskname {
  height: 16px;
  line-height: 16px;
  font-size: 16px;
  padding: 10px 0;
  width: 80%;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px; }
  .individual-tasks .taskname:hover {
    background: #dddddd; }
.individual-tasks .task-description {
  font-size: 13px;
  padding-bottom: 10px; }
.individual-tasks .form-actions {
  padding: 15px 0; }
.individual-tasks .controls {
  position: absolute;
  right: 0;
  top: 24px; }
  .individual-tasks .controls .complete, .individual-tasks .controls .delete {
    display: inline;
    padding-right: 20px; }
  .individual-tasks .controls .delete {
    position: relative;
    font-size: 20px;
    top: 2px;
    color: #9D9D9D;
    transition: .5s; }
    .individual-tasks .controls .delete:hover, .individual-tasks .controls .delete:focus {
      color: #444544; }
.individual-tasks .project-add {
  margin-top: 30px;
  color: #9D9D9D;
  transition: .5s; }
  .individual-tasks .project-add:hover, .individual-tasks .project-add:focus {
    color: #444544; }

.setting-warning {
  text-align: center; }
  .setting-warning p {
    font-size: 15px; }
