body {
  background-color: #f7f7f7;
  min-height: 1000px;
  font-family: 'Open Sans', sans-serif; }

.dashboard figure {
  width: 275px;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  overflow: hidden; }

.container {
  overflow: hidden; }
  .container .hero {
    position: relative;
    width: 100%;
    height: 255px;
    background-color: #444544; }
  .container h1 {
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
    position: relative;
    top: 120px; }
  .container #columns {
    display: flex;
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto; }

.projects figure {
  width: 275px;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  overflow: hidden; }
.projects small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa; }
.projects small a {
  color: #666;
  text-decoration: none;
  transition: .4s color; }
.projects div#columns:hover figure:not(:hover) {
  opacity: 0.4; }

.content-contain {
  max-width: 960px;
  margin: auto;
  padding: 50px 0; }

.individual-project figure {
  width: 900px;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  overflow: hidden; }
.individual-project h1 {
  top: 60px;
  text-align: center; }

/*
  Globals
*/
body {
  margin: 0;
  background: #444544;
  color: #353d46;
  font: 18px/27px 'Oxygen', sans-serif; }

h1, h2, h3 {
  color: #FF6B6B;
  margin: 0 0 27px; }

/*
  Menu
*/
nav#slide-menu {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  nav#slide-menu > ul {
    display: block;
    margin: 40px;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms; }
    nav#slide-menu > ul li {
      color: #dfe5eb;
      padding: 6px 0;
      cursor: pointer; }
      nav#slide-menu > ul li:hover {
        color: #59e9df; }
    nav#slide-menu > ul li:before {
      font-family: "ico";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      color: #59e9df;
      margin-right: 12px;
      text-align: center;
      font-variant: normal;
      font-size: 0.75em;
      text-transform: none;
      line-height: 1em; }
    nav#slide-menu > ul li.sep {
      margin-top: 7px;
      padding-top: 14px;
      border-top: 1px solid #6b7b8d; }
    nav#slide-menu > ul li.timeline:before {
      content: '\e805'; }
    nav#slide-menu > ul li.events:before {
      content: '\e802'; }
    nav#slide-menu > ul li.calendar:before {
      content: '\e800'; }
    nav#slide-menu > ul li.settings:before {
      content: '\e803'; }
    nav#slide-menu > ul li.logout:before {
      content: '\e804'; }

body.menu-active nav#slide-menu {
  left: 0px; }

body.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1; }

/*
  Content
*/
div#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: #fcfeff;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -3px 0 6px #373837;
  -webkit-box-shadow: -3px 0 6px #373837;
  box-shadow: -3px 0 6px #373837;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  div#content div.menu-trigger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    cursor: pointer;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms; }

body.menu-active div#content {
  left: 284px; }

body.menu-active div#content .menu-trigger {
  left: 294px; }

.project-add, .delete, .project-task-delete {
  cursor: pointer; }

.project-form {
  display: none;
  transition: 0.75s; }

.show {
  display: block; }
