body {
  min-height: 1000px;
  margin: 0;
  background: #444544;
  color: #353d46;
  font-family: 'Open Sans', sans-serif; }
  body a {
    text-decoration: none; }

.hero--content-contain {
  position: relative;
  max-width: 960px;
  margin: auto;
  padding: 60px 0;
  text-align: center;
  top: 30px;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-family: inherit; }
  .hero--content-contain h1 {
    font-size: 30px;
    margin-bottom: 15px; }

.container {
  overflow: hidden; }
  .container .hero {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #444544; }
  .container #columns {
    display: flex;
    column-width: 320px;
    column-gap: 15px;
    width: 90%;
    max-width: 1100px;
    margin: 50px auto; }

.dashboard figure {
  width: 275px;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  overflow: hidden; }
  .dashboard figure h2 {
    font-size: 22px;
    padding: 8px 0;
    text-decoration: none;
    color: #444544; }
  .dashboard figure .svg-icon {
    margin: 20px 0; }

.projects {
  text-align: left;
  margin-top: 100px;
  position: relative; }
  .projects figure {
    position: relative;
    width: 275px;
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    overflow: hidden;
    min-height: 200px; }
  .projects .name {
    font-size: 22px;
    padding: 10px 0;
    width: 80%; }
  .projects .description {
    font-size: 13px; }
  .projects .form-actions {
    padding: 15px 0; }
  .projects .task-container {
    padding: 20px 0; }
  .projects .tasks-heading {
    padding-bottom: 10px; }
  .projects .edit {
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    color: inherit; }
  .projects .new-circle {
    position: absolute;
    top: -67px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #2b6481;
    right: -90px; }
    .projects .new-circle p {
      text-decoration: none;
      position: relative;
      top: 8px;
      left: 13px;
      font-size: 25px;
      color: #fff; }

.project-add, .delete, .project-task-delete {
  cursor: pointer; }

.project-form {
  display: none;
  transition: 0.75s; }

.show {
  display: block; }

.content-contain {
  top: -55px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  max-width: 960px;
  margin: auto;
  font-size: 16px;
  text-align: center; }

.individual-project {
  text-align: left; }
  .individual-project .task {
    position: relative; }
  .individual-project .project-taskname {
    font-size: 22px;
    padding: 10px 0;
    width: 80%;
    cursor: pointer; }
    .individual-project .project-taskname:hover {
      background: #dddddd; }
  .individual-project .taskdescription {
    font-size: 13px;
    padding-bottom: 10px; }
  .individual-project .form-actions {
    padding: 15px 0; }
  .individual-project select {
    padding: 10px 0; }
  .individual-project .controls {
    position: absolute;
    right: 0;
    top: 29px; }
    .individual-project .controls .complete, .individual-project .controls .delete {
      display: inline; }
  .individual-project figure {
    width: 900px;
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    overflow: hidden; }
  .individual-project h1 {
    top: 60px;
    text-align: center; }

.project-form p {
  margin-bottom: 10px; }
.project-form .name {
  padding: 20px 0 10px; }
.project-form .description {
  padding: 10px 0 20px; }
.project-form .form-actions {
  padding: 15px 0; }

.new {
  text-align: left; }
  .new figure {
    width: 900px;
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    overflow: hidden; }
  .new p {
    margin-bottom: 15px; }
  .new .description {
    padding: 10px 0 20px; }

.editInPlace-active input {
  font-family: inherit;
  font-size: inherit;
  width: inherit;
  padding: 0px;
  background-color: inherit;
  border: 0px; }
  .editInPlace-active input:focus, .editInPlace-active input:active {
    border: none; }

.no-tasks-warn {
  padding-bottom: 20px; }

.individual-tasks .task {
  position: relative; }
.individual-tasks .taskname {
  font-size: 22px;
  padding: 10px 0;
  width: 80%;
  cursor: pointer; }
  .individual-tasks .taskname:hover {
    background: #dddddd; }
.individual-tasks .task-description {
  font-size: 13px;
  padding-bottom: 10px; }
.individual-tasks .form-actions {
  padding: 15px 0; }
.individual-tasks .controls {
  position: absolute;
  right: 0;
  top: 14px; }
  .individual-tasks .controls .complete, .individual-tasks .controls .delete {
    display: inline; }

nav#slide-menu {
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 100%;
  max-width: 284px;
  height: 100%;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  nav#slide-menu > ul {
    display: block;
    margin: 40px;
    padding: 0;
    list-style: none;
    opacity: 0.5;
    line-height: 40px;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms; }
    nav#slide-menu > ul li {
      color: #dfe5eb;
      font-weight: 300;
      padding: 6px 0;
      cursor: pointer; }
      nav#slide-menu > ul li:hover {
        color: #2b6481; }
    nav#slide-menu > ul li:before {
      font-family: "ico";
      font-style: normal;
      font-weight: normal;
      speak: none;
      display: inline-block;
      text-decoration: inherit;
      width: 1em;
      color: #2b6481;
      margin-right: 12px;
      text-align: center;
      font-variant: normal;
      font-size: 0.75em;
      text-transform: none;
      line-height: 1em; }
    nav#slide-menu > ul li.sep {
      margin-top: 7px;
      padding-top: 14px;
      border-top: 1px solid #2b6481; }
    nav#slide-menu > ul li.menu-home:before {
      content: '\e805'; }
    nav#slide-menu > ul li.menu-projects:before {
      content: '\e802'; }
    nav#slide-menu > ul li.menu-tasks:before {
      content: '\e800'; }
    nav#slide-menu > ul li.menu-settings:before {
      content: '\e803'; }
    nav#slide-menu > ul li.menu-logout:before {
      content: '\e804'; }

body.menu-active nav#slide-menu {
  left: 0px; }

body.menu-active nav#slide-menu ul {
  left: 0px;
  opacity: 1; }

/*
  Content
*/
div#content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: #fcfeff;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: -3px 0 6px #373837;
  -webkit-box-shadow: -3px 0 6px #373837;
  box-shadow: -3px 0 6px #373837;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms; }
  div#content div.menu-trigger {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
    cursor: pointer;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    transition: all 300ms; }

body.menu-active div#content {
  left: 284px; }

body.menu-active div#content .menu-trigger {
  left: 294px; }
